<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Imagix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.tailwindcss.com" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="main">
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Imagix</h1>
            <form
              hx-post="/crop"
              hx-target="#result"
              hx-headers='{"Accept":"image/*"}'
              enctype="multipart/form-data"
            >
              <input
                class="btn btn-primary"
                type="file"
                name="image"
                accept="image/*"
              />
              <select name="format">
                <option value="crop">crop</option>
                <option value="flip">flip</option>
                <option value="background">background</option>
                <option value="swirl">swirl</option>
              </select>
              <button class="btn" type="submit">Upload and Crop</button>
            </form>

            <img class="htmx-indicator" src="https://i.imgur.com/8THYvPQ.gif" />

            <div id="result"></div>

            <!-- <button
        hx-trigger="click"
        hx-target="#result"
        hx-get="/"
        hx-swap="outerHTML"
        class="btn btn-primary"
      >
        het
      </button> -->

            <!-- <div class="p-4">
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-secondary">secondary</button>
        <button class="btn btn-accent">accent</button>
      </div> -->

            <!-- <a data-hx-get="/">Click Me!</a> -->

            <!-- <div id="replace">hello</div> -->

            <!-- <button class="btn btn-primary">Get Started</button> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
